.layoutStyle {
  display: flex;
  position: fixed;
  left: 35%;
  justify-content: center;
  width: 30%;
  margin: 0 auto;
  justify-content: space-between;
  & a {
    text-decoration: none;
    font-size: 24px;
    color: white;
    padding: 20px 20px;
    border-radius: 0 0 18px 18px;
    background-color: black;
  }
  & a:hover {
    color: blue;
  }
}
